# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store/

# testing
/coverage

# vite
/.vite/

# next.js
/.next/
/out/

# production/build outputs
/build
/dist
/dist-electron
/release
/releases

# electron-builder artifacts
*.dmg
*.pkg
*.blockmap
*.asar

# misc
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp/cache
tmp/
temp/
.cache/
